<div class="container-fluid"><div class="paddingLeft">
	<br>
	<p>
		<b>Goal: </b>Driven by highly competitive market conditions and the
		need to conduct fraud analysis, BSE intends to establish an automated
		solution for Social Media Analytics. Smart Analytica has formulated an
		extensive approach to develop an automated social media monitoring
		solution. Enhancement and fine tuning the models will help to improve
		the accuracy level of detecting rumors which can influence the stock
		price. On-going support will leverage the smooth continuation of
		execution of the existing systems through proper monitoring, quick
		troubleshooting of any issue and timely resolution.
	</p>
	<p>
		<b>Objective</b> of config UI utility:Through this utility the
		business users will be leveraged to monitor, add and modify different
		configurable items like web links,sources, keywords, company grams
		required for the Social Media Analytics project.The interface is
		developed in such a way that every UI user will be assigned to a
		particular role (view-only , simple user or super user). Through the
		"maker-checker" utility, the tool is empowered and made secured.Any
		request raised by the user will need approval of the super user before
		being materialized the change to the system.<br> <b>Note: </b>There
		will no direct impact on the existing model.
	</p>
	Below are the sources of stock rumours:
	<!-- <ul>
		<li>Web Article</li>
		<li>Twitter</li>
		<li>Facebook</li>
	</ul>
	 -->
	<div class="tree" id="FamilyTreeDiv">
		<ul>
			<li>
				<div>
					<span class="female">Sources</span><span class="spacer"></span>
				</div>
				<ul>
					<li>
						<div>
							<span class="dot">Web Article</span><span class="spacer"></span>
						</div>
					</li>
					<li>
						<div>
							<span class="dot">Facebook</span><span class="spacer"></span>
						</div>
					</li>
					<li>
						<div>
							<span class="dot">Twitter</span>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<b>Integration and Development:</b>
	<ul>
		<li>Website Links integrated across different news sources.</li>
		<li>Trained the model with 6 years of web articles.</li>
		<li>Twitter Handles and Hashtags being tracked.</li>
		<li>Facebook pages and user are being tracked.</li>
		<li>Ingestion done near real time.</li>
		<li>Role based "maker-checker" utility added.</li>
	</ul>


</div>
</div>
