<div class="container bootstrap snippet" style="margin-top:15%">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password   
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                        <img alt="" width="80%" class="img-circle" src="/scripts/app/login/PadlockUser.png" />                       
                        </div>
                        <div style="margin-top:10px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                        <form id="passwordForm" name="passwordForm" ng-submit="changePassword(changeCredentials)" >
                         <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                              <input id="currentPass" class="form-control" type="password"  name="currentPassword" ng-model="changeCredentials.currentPassword" placeholder="Current Password"
                              ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z][A-Za-z\d!@#$%^&*()_+]{7,40}$/" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                              	<input id="password1" class="form-control" type="password"  name="password" ng-model="changeCredentials.newPassword" placeholder="New Password"
                              	ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z][A-Za-z\d!@#$%^&*()_+]{7,40}$/"
                              	required>
                            </div>
                            	<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long
                            	<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number<br>
								<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter<br>
								<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
								<span id="spchar" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One special character<br> 
								<span id="pwmatch" style="color:#FF0004;"> **Same as current password**  </span>                           
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                              <input type="password" class="form-control" name="confirmPassword" ng-model="changeCredentials.confirmPassword" 
                               ng-pattern="changeCredentials.newPassword"  placeholder="Confirm Password" required>
                               <span style="margin-top: 0px;margin-bottom: 0px;color:#FF0004;"
                               ng-show="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$error.pattern">Not Matched </span> 
                            </div>
                          </div>
                          <button id="changePass" class="btn icon-btn-save btn-success pull-right" ng-disabled="passwordForm.password.$invalid || passwordForm.confirmPassword.$invalid">
                            <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp &nbsp</span>save</button>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            Please login again <a ui-sref="logout" >Login Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>