<div class="container-fluid">
	<div class="card">
		<div class="row1">
			<div class="col-xs-12 alignCenter">
				<h3 class="title1" >Historical TV Ticker</h3>
			</div>
		</div>	
      <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
	         <div class="col-xs-2 dataTables_wrapper form-inline dt-bootstrap dataTables_length">
	            showing  
	            <select ng-model='selected.rowLimit' required  class="form-control input-sm" ng-options=' option for option in rowLimitOptionArray'></select>
	            entries
	         </div>
			<div class="col-xs-2 dataTables_wrapper form-inline dt-bootstrap dataTables_length ">
				Channel List 
				<select ng-model="selectedNewsChannel" ng-options="x for x in NewsChannel" ng-change="handleClick(selectedNewsChannel)" style="width:55%;height:22px;" required></select>
			</div>
            
			<div class="col-xs-3 rightAlign smallFont paddingClass">
<!-- 				<div class="col-xs-3">From :</div>
				<div class="col-xs-3">
					<datepicker date-format="EEE-yyyy-MM-dd">	
					 <input ng-model="startDate" type="text" placeholder="Day-YYYY-MM-DD"/> 
					</datepicker>
					input type="text" placeholder="DD-MM-YYYY" class=" form-control dateText" ng-model="startDate" /
				</div>
				
				<div class="col-xs-3 "> To :</div>
				<div class="col-xs-3">
					 <datepicker date-format="EEE-yyyy-MM-dd">
					  <input ng-model="endDate" type="text" placeholder="Day-YYYY-MM-DD" /> 
					 </datepicker>
					input class=" form-control dateText" type="text" placeholder="DD-MM-YYYY" ng-model="endDate" /
				</div>
 -->
 				<div class="col-xs-6 ">	
 					
 					<datepicker date-format="EEE-yyyy-MM-dd">	FROM:
					 <!-- <input ng-model="startDate" type="text" placeholder="Day-YYYY-MM-DD"/> --> 
					 <input type="text" placeholder="Day-YYYY-MM-DD" class=" form-control dateText" ng-model="startDate" />
					</datepicker>
				</div>
 				<div class="col-xs-6">
 					 
 					 <datepicker date-format="EEE-yyyy-MM-dd">TO:
					 <!--  <input ng-model="endDate" type="text" placeholder="Day-YYYY-MM-DD" />  -->
					  <input class=" form-control dateText" type="text" placeholder="Day-YYYY-MM-DD" ng-model="endDate" />
					 </datepicker>
				</div>
 
 			</div>
            <div class="col-sm-5">
               <div id="example1_filter" class="rightAlign">
<!--                   Export <a ng-click="export()"> <img
                     src="/images/xls-icon1.png" height="20px" width="20px"
                     class="img-rounded">
                  </a> <a ng-click="exportpdf()"> <img src="/images/pdf-icon2.png"
                     height="20px" width="20px" class="img-rounded">
                  </a> &nbsp;&nbsp;&nbsp;&nbsp;  -->
                  <label>Search:&nbsp;<input
                     type="text" class="form-control" style="height: 22px;font-size: 12px;"
                     placeholder="Search" ng-model="searchText" />
                  </label>
               </div>
            </div>
         </div>
      </div>
      </br>
      <div class="row1">
		<div class="card-body">
			<table>
				<thead>
					<tr>
						<th>DateTime</th>
						<th>Ticker Content</th>
						<th>Company</th>
						<th>Commodity</th>
						<th>Frequency</th>
						<th>View</th>
					</tr>
				</thead>
				<tr dir-paginate="companyList in list = ( customTickerLists |filter: searchText| orderBy: '-frequency' | auditDateRangeFilter:startDate:endDate |itemsPerPage:selected.rowLimit)">
		            <td>{{companyList.timestamps[0]}}</td>
		            <td>{{companyList.content}}</td>
		            <td>{{companyList.company}}</td>
		            <td>{{companyList.commodity}}</td>
		            <td>{{companyList.frequency}}</td>
					<td>
			            <button type="button"  class="btn btn-warning btnModified" ng-click="getViewData(companyList)" style="width:50px">
           				 <a ui-sref="homeParent.tvTickerView" style="display: block; color: white; text-decoration: none;">View</a>
            			</button>
					</td>
				</tr>
	            <tr>
	               <td colspan='6' ng-if=" list.length === 0">No Records Found</td>
	            </tr>						
			</table>
		</div>
		<div class="card-footer smallFont">
			<div class="paddingLeft">
				<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>    
		    <div class="paddingRight">
                   <dir-pagination-controls max-size="10" direction-links="true"  boundary-links="true"></dir-pagination-controls>
               </div>
		</div>      
	  </div>
	</div>
</div>

