<div class="container-fluid">
   <div class="card">
      <div class="row1">
         <div class="col-xs-12">
            <div class="col-xs-3">
               <button ng-show="permissions" type="button" class="btn btnAdd float-right"data-toggle="modal" data-target="#selectChannelModal" ng-click="reset();"data-backdrop="static">
               <i class="fa fa-plus" ng-show="permissions"></i> Choose Channel
               </button>
            </div>
         	<div class="col-xs-6 alignCenter">
         		<h3 class="title1" >Live TV Ticker</h3>
         	</div>
         	<div class="col-xs-3"></div>
         </div>
      </div>
      </br>
      <div class="row1">
         <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-3 dataTables_length">
               <div class=" smallFont  ">
                  showing <select ng-model='selected.rowLimit' required
                     class="form-control input-sm"
                     ng-options=' option for option in rowLimitOptionArray'></select>
                  entries 
               </div>
            </div>
            <div class="col-sm-3 smallFont dataTables_length">
             </div>
            <div class="col-sm-6">
               <div id="example1_filter" class="smallFont rightAlign">
                 <label>Search:&nbsp;<input
                     type="text" class="search-query form-control"
                     placeholder="Search" ng-model="searchText" />
                  </label>
               </div>
            </div>
         </div>
      </div>
      <div class="card-body">
		   <table >
		      <thead>
		         <tr>
					<th>DateTime</th>
					<th>Ticker Content</th>
					<th>Company</th>
					<th>Commodity</th>
					<th>Frequency</th>
		         </tr>
		      </thead>
		      <tr dir-paginate="realtimeTickerList in list = ( realtimeTickerLists |filter: searchText| orderBy: '-frequency' |itemsPerPage:selected.rowLimit)">
				<td>{{realtimeTickerList.timestamps[0]}}</td>
				<td><a data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;" ng-click="handleClick(realtimeTickerList)"data-backdrop="false">{{realtimeTickerList.content}}</a></td>
				<td>{{realtimeTickerList.company}}</td>
				<td>{{realtimeTickerList.commodity}}</td>
				<td>{{realtimeTickerList.frequency}}</td>
		      </tr>
		      <tr><td colspan='5' ng-if=" list.length === 0">No Records Found</td></tr>
		   </table>
      </div>
      <div class="card-footer">
         <div class="col-xs-12 smallFont">
            <div class="col-xs-4">
               <dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
            </div>
            <div class="col-xs-8 rightAlign">
               <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
            </div>
         </div>
      </div>      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Realtime TV Ticker</h4>
               </div>
               <form name="form.modalForm"  novalidate>
                  <div class="modal-body">
                     <div class="form-group">
                        <img src="{{selectedimage}}" height="400px; width:250px">
                        <label class="control-label">Content</label>
                        <p>{{content}}</p>
                     </div>
                     <div class="form-group"> 	
                        <label class="control-label">Timestamp</label> &nbsp 
                        <select ng-model='selectedtimestamp' ng-options=' option for option in realtimedatalist.timestamps' ng-change='handleRealtimeClick(selectedtimestamp)' required></select>                              
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- .card end -->
      <div class="modal fade" id="selectChannelModal" role="dialog" >
      <div class="modal-dialog modal-sm">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title alignCenter">Choose Channel</h4>
            </div>
            <form name="form.modalForm" ng-submit="chooseChannel(selectedNewsChannel)" novalidate>
               <div class="modal-body">
				  <div class="form-group">
                  <div class="form-group"> 
                     <input type="radio" class="radio-inline" ng-model="selectedNewsChannel" value="BloombergQuint" required> <label class="control-label"> Bloomberg Quint</label> &nbsp&nbsp
                     <input type="radio" class="radio-inline" ng-model="selectedNewsChannel" value="CNBCTV18"> <label class="control-label"> CNBC TV 18</label>       
                  </div>
				 <div class="alert alert-danger">
					<input type="checkbox" class="control-label" name="confirmation" ng-model="confirmSubmit" required>
					<strong>Warning!</strong>Select at least one news channel.
				 </div>                  
				  </div>                  
                 <div class="modal-footer">
                     <button type="submit" class="btn btn-primary pull-left" ng-disabled="form.modalForm.$invalid">Process</button>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div> 
</div>
<!-- .container fluid end -->