<div class="container-fluid">
   <div class="row1" >
      <div class="col-xs-4"></div>
      <div class="col-xs-4 alignCenter">
         <h3>TV Ticker Details</h3>
      </div>
      <div class="col-xs-4">
         <button type="button" class="btn btn-primary pull-right" style="padding: 3px 5px;">
         	<a ui-sref="homeParent.tvTicker" style="display: block; color: white; text-decoration: none;">Back</a>
         </button>  
      </div>
   </div>
   <br>
   <div class="row1">
   	<div class="col-xs-6 alignCenter">
   		<h5><strong>Image</strong></h5>
   	</div>
   	<div class="col-xs-6 alignCenter">
   		<h5><strong>Details</strong> </h5>
   	</div>
   </div>
   <div class="row1">
   	<div class="col-xs-6 alignCenter">
   		<img src="{{selectedimage}}" height="400px; width:250px" class="img-rounded">
   	</div>
   	<div class="col-xs-6">
   	       <table class="table table-striped box">
                  <thead>
                     <th colspan="2" align="center">TV Ticker Details</th>
                  </thead>
                  <tr>
                     <td>Company Name</td>
                     <td>{{viewData.company}}</td>
                  </tr>
                  <tr>
                     <td>Ticker Name</td>
                     <td>{{viewData.content}}</td>
                  </tr>
                  <tr>
                     <td>Commodity</td>
                     <td>{{viewData.commodity}}</td>
                  </tr>
                  <tr>
                     <td>Frequency</td>
                     <td>{{viewData.frequency}}</td>
                  </tr>
                  <tr>
                     <td>Time</td>
                     <td><select ng-model='selectedtimestamp' ng-options=' option for option in viewData.timestamps' ng-change='handleClick(selectedtimestamp)' required></select></td>
                  </tr>
               </table>
   	</div>
   </div>
</div>