.profile-img-card { /* login page profile */
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.headingBse {
	text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
	
}

.alignCenter {
	text-align: center;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
	margin-top:5px;
	margin-bottom:5px;
}
.row1 {
	margin-top:0px;
	margin-bottom:0px;
}

.col-xs-12, .col-xs-8, .col-xs-6, .col-xs-4, .col-xs-2, .col-xs-9,
	.col-xs-3 {
	display: inline-block;
	padding: 0px;
}

.rightAlign {
	text-align: right;
}

.leftAlign {
	text-align: left;
}

.paddingClass {
	padding-top: 2px;
}

.paddingRight{
	padding-right:15px;
		text-align: right;
}

.paddingLeft{
	padding-left:10px;
}

.capitalize::first-letter {
	text-transform: uppercase;
}

.capitalize2 {
	text-transform: capitalize;
}

.menuItems {
	vertical-align: top;
	background: linear-gradient(to bottom, black, blue);
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	color: white;
	cursor: pointer;
}

.navBar {
	background: blue;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

.dropdown-toggle {
	display: block;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	top: 20px;
	display: none;
	float: left;
}

.menuItems:hover {
	background: linear-gradient(to bottom, black, red);
}

.menuItems:hover .dropdown-menu {
	display: block;
}

.menuItems a {
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: white;
}

.navBar a {
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: black;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 0px !important;
}

td {
	border: 1px solid #D0E4F5;
 	font-size: 14px;
	padding: 3px 6px;
	
}
 tr:hover {
	background-color:#e8ecf1;
}

th {
	border: 1px solid #D0E4F5;
	text-align: left;
	cursor: pointer;
	/*background: #CCC;*/
	/* background:#1C6EA4; */
	text-align: center;
	 background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
 	color:#016091;
 	 padding: 3px 2px;
 	 		background:#e3e7ea;
 	 
}

tr td:last-child {
    text-align: center;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #f2efef;
	display: inline-block;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
	display: inline-block;
}

.col-xs-1.menuItems.active {
	background: linear-gradient(to bottom, black, #17C808); /*green color*/
}

.col-xs-2.menuItems.active {
	background: linear-gradient(to bottom, black, #17C808); /*green color*/
}

.col-xs-4.navBar.active {
	background: white;
}

.col-xs-3.menuItems.active {
	background: linear-gradient(to bottom, black, #17C808); /*green color*/
}

.modal-backdrop {
	z-index: -1;
}

.btnModified {
	padding: 0px;
	font-size: 9px;
}

.change {
	background-color: #337ab7;
	border: none;
	width: 35px;
	height: 35px;
	border-radius: 17px;
}

button:focus {
	outline: 0;
}

.glyphicon-plus {
	color: white;
}

.required label:after {
	content: ' *';
	color: red;
}

.navbar-login {
	width: 190px;
	padding: 15px;
	padding-bottom: 0px;
}

.navbar-login p{
	margin:0 0 10px;
	border-bottom:1px solid #f2ecec;
	padding:2px;
}
.navbar-login a:hover {
   text-decoration: none; 
}

.navbar-login .dot{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	display: inline-block;
	background-color: lightblue;
	padding: 0px 5px;
	color:#3a487d;
	
}
.icon-size {
	font-size: 87px;
}

.hoverGrey :focus {
	text-decoration: none;
	background-color: #eee;
}

.activerequestbutton {
	/*font-weight: bold;*/
	width: 75px;
	height: 28px;
}
/* video to text css*/
.scrollbar-ripe-malinka::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(330deg, #c4c4c4 0%, #ababab 100%);
	background-image: linear-gradient(120deg, #c4c4c4 0%, #ababab 100%);
}

@
-webkit-keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
}

100%
{
-webkit-transform


:

 

rotate


(360
deg
);

 

}
}
@
keyframes spin { 0% {
	transform: rotate(0deg);
}

100%
{
transform


:

 

rotate


(360
deg
);

 

}
}
.divloading {
	display: block;
	position: absolute;
	z-index: 100;
	background-image: url('/images/loaderSmBlue.gif');
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.videogular-container {
	width: 50%;
	height: 250px;
	margin: auto;
	overflow: hidden;
}

@media ( min-width : 1200px) {
	.videogular-container {
		width: 500px;
		height: 500px;
	}
	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}
/*----------------new modifications-------------------------*/
@media ( min-width : 1200px) {
	.container {
		width: 1550px !important;
	}
}

.paddingBottom {
	padding-bottom: 7px;
}
.container-fluid{
	padding-left:0px !important;
	padding-right:0px !important;
}

.box {
	padding-top: 10px;
	position: relative;
	border: 1px solid #d6d6c2;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-widget {
	border: none;
	position: relative;
}

.box-footer {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
}

.search-query {
	width: 450px !important;
	height: 22px;
	font-size: 12px;
	vertical-align:middle;
	    display:inline-block; 
	
}
.dateText {
	width: 110px !important;
	height: 22px;
	font-size: 12px;
}

.smallFont {
	font-size: 13px;
}

.btnAdd {
	background-color: #6d91c7;
	color:#fff;
/* 	border-color: #6d91c7;*/
 	padding: 5px;
	font-size: 13px;
	text-decoration: none;
	font-weight:600;
	margin-top:3px;
	padding: 2px 3px;
}
.btnAdd.focus, .btnAdd:focus, .btnAdd:hover{
 	color:#fff;
 }

.main-header .navbar {
	-webkit-transition: margin-left .3s ease-in-out;
	-o-transition: margin-left .3s ease-in-out;
	transition: margin-left .3s ease-in-out;
	margin-bottom: 0;
	margin-left: 230px;
	border: none;
	min-height: 90px;
	border-radius: 0
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
	float: right
}

@media ( max-width :991px) {
	.main-header .navbar-custom-menu a, .main-header .navbar-right a {
		color: inherit;
		background: transparent
	}
}

html, body {
	height: 100%
}

.layout-boxed html, .layout-boxed body {
	height: 100%
}

body {
	font-family: 'Ubuntu','FontAwesome','Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto
}

.wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	
	background: -moz-linear-gradient(left, #f5f5f5 0%, #8eb4ec 48%, #f5f5f5 100%);
	background: -webkit-linear-gradient(left, #f5f5f5 0%, #8eb4ec 48%, #f5f5f5 100%);
	background: linear-gradient(to right, #f5f5f5 0%, #8eb4ec 48%, #f5f5f5 100%);
	}

.wrapper:before, .wrapper:after {
	content: " ";
	display: table
}

.wrapper:after {
	clear: both
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background-color: #a1bac5;
}

.content {
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 215px;
	padding-right: 15px
}

.content-header {
	position: relative;
	padding: 15px 15px 0 15px
}

@media ( max-width :991px) {
	.content-header>.breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px
	}
	.content-header>.breadcrumb li:before {
		color: #97a0b3
	}
}

.content-wrapper {
	min-height: 100%;
	background-color: #ffffff;
	z-index: 800;
}

/***    left menu ****/
.sidebar {
 	background-color: #e8ecf1;
	transition: all 0.3s ease-in-out;
	min-height: 700px !important;
	margin-top: 5px !important;
	margin-bottom:5px;
	}
.sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.list-sidebar.active {
	background-color: #7798cb;
}
.sidebar li a, .sidebar li a.collapsed.active {
	display: block !important;
	padding: 8px 12px !important;
	color: #130420;
	border-left: 0px solid #dedede;
	text-decoration: none
}

.sidebar li a.active, .sidebar li.active {
	background-color: #7798cb;
	border-left: 1px solid #dedede !important;
	transition: all 0.5s ease-in-out;
}


.sidebar li a:hover {
	background-color: #c0c0c0 !important;
}

.sidebar li a i {
	padding-right: 5px;
}

.sidebar ul li .sub-menu li a {
	position: relative
} 

.sidebar ul li .sub-menu li a:before {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
}

.sidebar ul li .sub-menu li a:hover:after {
	content: "";
	position: absolute;
	left: -5px;
	top: 0;
	width: 5px;
	height: 100%;
}

.sidebar ul li .sub-menu li a:hover {
	background-color: #222;
 	padding-left: 20px;
	transition: all 0.5s ease-in-out
}

.sub-menu {
	border-left: 0px solid #dedede;
}

.sidebar li a .nav-label, .sidebar li a .nav-label+span {
 	transition: all 0.5s ease-in-out
 }

@media ( max-width : 768px) {
	.sidebar {
		min-width: 100px;
		max-width: 100px;
		font-size: 0.85em;
	}
	.sidebar .nav-label {
  		display: none;
	}
	.sidebar .submenu-icon {
 	 display: none;
	}
}

	.sidebar-collapsed .menu-collapsed,
	.sidebar-collapsed .submenu-icon,
	.sidebar-collapsed .nav-label {
		display: none;
		-webkit-transform: translateZ(0)
	}
	
	.sidebar-collapsed{
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	/*	width: 60px;
	 	z-index: 850; */
	}
	
	
 .sidebar-collapsed .fa {
   font-size: 12px;
 } 

.sidebar-collapsed .sub-menu {	
	font-size:11px; 
}

.sidebar-collapsed .sub-menu {
	position: absolute;
	right:-96px;
 	margin-top: -59px;
 	background-color: #f0f1f3;
	left: 59px !important;
 	z-index: 990;
}

span.fa.fa-chevron-left.pull-right.iconStyle{
	margin-left:60px;
	margin-top:-30px;
}
span.glyphicon.glyphicon-chevron-down.pull-right.iconStyle{
	margin-left:60px;
	margin-top:-40px;
}
span.glyphicon.glyphicon-chevron-down.pull-right{
	top:13px;
}


.sidebar-expanded  {
/*     width: 250px;
 */}

.menu-wrapper {
	min-height: 100%;
	background-color: #ecf0f5;
	z-index: 800;
	display: flex;
	align-items: stretch;
	top:13px;
}



.pagination>li>a, .pagination>li>span {
	line-height: 0.428571 ! important;
}

/* to remove padding of all cols*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0px !important;
	padding-right: 1px !important;
}

.widget-user-2 .widget-user-header {
	padding: 5px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px
}

.bg-aqua-active {
	background-color: #00a7d0 !important;
}

.widget-user-2 .widget-user-username {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 25px;
	font-weight: 300;
}

.panel-info>.panel-heading{
	 	color:#fff;
	
}
.panel-heading {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 10px !important;
	padding-bottom: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 1px !important;
/* 	background: #00a7d0 !important;
 */	
	background:#1C6EA4;
	 background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
 	color:#fff;
 	
}

.panel {
	margin: 0px !important;
	border: none;
	padding:5px;
}

.panel-body {
	padding: 5px !important;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.navbar-right {
	margin-right: 15px;
}

.pagination {
	margin: 2px 0px !important;
}

/*.btn-info {
	background-color: #e3f0f2 !important;
	color:#000 !important;
	border-color: #e3f0f2 !important;
}
.btn-info.focus, .btn-info:focus, .btn-info:hover{
	background-color: #e3f0f2 !important;	
		color:#000 !important;
		border-color: #e3f0f2 !important;
}*/



.input-group-addon {
	width: 0px !important;
}

.input-group-addon {
	padding: 0px 0px;
}

.products-list .product-description {
	display: block;
	color: #211f1f;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.product-list-in-card>.item {
	border-radius: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.products-list .product-title {
	font-weight: 600;
}



.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem
}

.badge-warning {
	color: #1f2d3d;
	background-color: #ffc107
}

.tree {
	white-space: nowrap;
	min-width: 300px;
	min-height: 180px;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}
/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 57%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
	/*	left: 230px; to draw the hierarchy line*/
}

.tree li div {
	/* border: 1px solid #ccc; */
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	display: inline-block;
	min-width: 80px;
	min-height: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li div .male {
	background-color: lightblue;
	display: inline-block;
	width: 90px;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.tree li div .female {
	background-color: #7594a1;
	display: inline-block;
	width: 90px;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	position: relative;
	left: 30px;
}

.tree li div .spacer {
	background-color: lightblue;
	display: inline-block;
	width: 10px;
}

.dot {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: inline-block;
	background-color: lightblue;
	padding: 27px 5px;
	color:#000;
}

.flex-column {
	flex-direction: column!important
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.card .nav.flex-column>li {
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	margin: 5.5px;
}


.card {
/* 	position: relative;
 */	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	-webkit-box-shadow: 0px 10px 13px -7px #acacac, -37px -39px 2px -24px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #acacac, -37px -39px 2px -24px rgba(0,0,0,0);
}
/*
.card-header {
	padding:0;
	margin-bottom: 0;
	margin-left:0.25rem;
	border-bottom: 0 solid #f7f7f9;
	background:#1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
 	color:#fff;
 	
}*/
.card-header{
	box-shadow: 0 4px 3px -3px black;
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    margin-left:0.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
	flex: 1 1 auto;
	padding: 0.25rem
}

.card-title {
	margin-bottom: .75rem
}

.card-footer{
		background:#e3e7ea;
}


#body-row {
    margin-left:0;
    margin-right:0;
   display:flex; 
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

.main-content {
  margin-top: 0px;
  margin-left: 0px;
  width:100%;
  padding-top:4px;
  padding-bottom:4px;
}

.collapsed + .main-content {
  margin-left: 60px;
}
.modal-content{
	color:#000;
}

.navbar{
	min-height:23px;
	margin-bottom:0px;
/* 	background-color:#cedfe8;
 */}
.fa-plus:before{
	color:#fff;
}

.login-box-body{
	background:#fff;
	padding:20px;
	color:666;
	border-top:0;
}

.headerStyle{
	background: #C6CECD;
background: -moz-linear-gradient(left, #f5f5f5 0%, #8eb4ec 48%, #f5f5f5 100%);
background: -webkit-linear-gradient(left, #f5f5f5 0%, #8eb4ec 48%, #f5f5f5 100%);
background: linear-gradient(to right, #f5f5f5 0%, #8eb4ec 48%, #f5f5f5 100%);
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.login-box-body .input-group{/*color:#ff0000; background-color: #ffffff;*/
border:0px solid #ccc;
width:455px;
}


.radio-inline{
	margin-bottom:4px;padding-left:2px;
}

/**************************************************************/
.title1{
	vertical-align:baseline;
	color:#0089d0;
	/* color:#fff; */
	font-size:21px;
	text-align: center; margin-top: 2px;
	margin-left:10px;
	text-decoration: underline;
  text-decoration-color: #0089d0;
	
}

div.dataTables_length select{
	width:75px;
	display:inline-block;
}
div.dataTables_filter{
	text-align:right;
}

div.dataTables_filter input{
	margin-left:0.5em;
	display:inline:block;
	width:auto;
}
div.dataTables_filter label{
	font-weight:normal;
	white-space:nowrap;
	text-align:left;
}

div.dataTables_filter{
	text-align:right;
}

@media (min-width: 768px)
.form-control {
	display:inline-block;
	width:auto;
	vertical-align:middle;
}

div.dataTables_filter input.form-control.input-sm{
	display:inline-block !important;
	width:auto;
	vertical-align:middle;
}
select.input-sm {
	height:19px;
	line-height:26px;
}	
.input-sm{
	padding:0;
}
.form-inline .control-label{
	    margin-bottom: 7px !important;
	
}
.capsule{
    display:inline;
    border: 1px solid rgba(0,0,0,.87);
    padding: 0 10px;
    border-radius: 25px; 
    margin-left: 5px;
}